body { background-color: #999999; }

#wrapper {
  margin: 1em auto;
  padding: 0;
  width: 960px;
  border: 1px solid #ff0000;
  background-color: #ffffff;
}

.p1, .p2 {
  border: 1px solid #ff0000;
}

.floatimage {
  width: 100px;
  margin: 20px;
  float: left;
  margin-top: 0;
}

.p2 {
  clear: both;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav li {
  float: right;
  padding: 10px;
  border: 1px solid #000000;
  margin: 10px;
}

nav li {
  display: inline;
  padding: 10px;
  border: 1px solid #000000;
  margin: 10px;
}
