h1{
  font-weight: normal;
  font-size: 20px;
}

.fontcombined {
font: bold 18px Arial, Helvetica, sans-serif;
}

.customtext {
  font-family: Arial, Helvetica, sans-serif;
  font-style: italic;
  font-weight: bold;
  font-size: 24px;
}
body {
background-color: #cccccc;
background-image: url(Images/Snowman.jpg);
background-repeat: no-repeat;
background-position: top left;
}

main {
background-color: #bb2244;
}

.boxmodel {
border: 2px solid #0000ff;
padding: 20px 20px 20px 20px;
margin: 10px 10px 10px 10px;
}

.otherbox {
  padding: 10px;
  margin: 20px;
  border: 1px solid #00ff00;
}

.zeroout {
margin: 0;
padding: 0;
}

.pwidth {
border: 2px solid: #ffffff;
width: 100px;
padding: 10px;
}

.textright {
text-align: right;
}

.textleft {
text-align: left;
}

.textcenter {
text-align: center;
}

.textjustify {
text-align: justify;
}

.textspace {
letter-spacing: 20px;
}

.textheight {
line-height: 20px;
}

.imgbox {
border: 2px solid #ff0000;
padding: 10px 10px 10px 10px;
margin: 20px 20px 20px 20px;
background-color: #0000ff;
}
